<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default vcenter-div">
      <div class="panel-heading">Coming Soon!</div>
      <div class="panel-body">
        This website is under construction. We hope to have all features operational soon.
      </div>
    </div>
  </div>
</div>