<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Hadley Real Estate, <%= @user.name %>!</h1>
    <p>
      Something something something about buying houses
    </p>
  </body>
</html>