<div class="container">
	<div class="row">
    <h2 class="text-center"><%= @post.title %></h2>
		<div class="post-body"><%= @post.body.html_safe %></div>
	</div>
  <%= link_to "back", posts_path, class: "btn btn-primary" %>
</div>