<div class="container">
	<div class="row">
		<div class="card black post-title">
	    <div class="card-content white-text">
	      <span class="title"><%= @post.title %></span>
	    </div>
	  </div>
		<div class="post-body"><%= @post.body.html_safe %></div>
	</div>
  <%= link_to "back", posts_path, class: "btn" %>
</div>