<div class="container">
	<div class="row">
		<div class="card black post-title">
	    <div class="card-content white-text">
	      <span class="title"><%= @post.title %></span>
	    </div>
	  </div>
		<p class="post-body"><%= @post.body.html_safe %></p>
	</div>
</div>