<div class="container">
	<div class="row">
		<div class="card black post-title">
	    <div class="card-content white-text">
	    	<div class="valign-wrapper">
		      <span class="card-title"><%= @post.title %></span>
	      </div>
	    </div>
	  </div>
		<p><%= simple_format(@post.body) %></p>
	</div>
</div>