html {
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Work Sans', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.vcenter-div {
  margin-top: 30vh;
}

.home {
	background: image-url('kitchen.jpg') no-repeat center center fixed;
}

.login, .signup {
	background-color: white;
	padding: 20px 10vw 20px 10vw;
	margin-top: 50px;
	border-radius: 4px;
	-webkit-box-shadow: 18px 17px 42px 1px rgba(0,0,0,1);
	-moz-box-shadow: 18px 17px 42px 1px rgba(0,0,0,1);
	box-shadow: 18px 17px 42px 1px rgba(0,0,0,1);
	.btn {
		margin: 10px 0 10px 0;
	}
}

.nav-wrapper {
	padding: 0 5vw 0 5vw;
}

nav {
	margin-bottom: 40px;
}

footer {
  margin-top: 60px;
  margin-bottom: 0 !important;
  padding: 20px 0;
}

.footer-logo {
	float: right;
	height: 80px;
	margin: 0 20px 0 20px;
}

.footer-logo-last {
  float: right;
  height: 80px;
  margin: 0 0 0 20px;
}

.med-top-margin {
  margin-top: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.no-padding {
  padding: 0;
}

.grey-sunken-box {
  padding: 40px 0;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 0px 44px -1px rgba(173,173,173,1);
  -moz-box-shadow: inset 0px 0px 44px -1px rgba(173,173,173,1);
  box-shadow: inset 0px 0px 44px -1px rgba(173,173,173,1);
}