html {
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Work Sans', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.home {
	background: url(kitchen.jpg) no-repeat center center fixed;
}

.login, .signup {
	background-color: white;
	padding: 20px 10vw 20px 10vw;
	margin-top: 50px;
	border-radius: 4px;
	-webkit-box-shadow: 18px 17px 42px 1px rgba(0,0,0,1);
	-moz-box-shadow: 18px 17px 42px 1px rgba(0,0,0,1);
	box-shadow: 18px 17px 42px 1px rgba(0,0,0,1);
	.btn {
		margin: 10px 0 10px 0;
	}
}

.nav-wrapper {
	padding: 0 5vw 0 5vw;
}

nav {
	margin-bottom: 40px;
}

.footer-logo {
	float: right;
	height: 80px;
	margin: 0 20px 0 20px;
}