<!DOCTYPE html>
<html>
<head>
  <title>TeamHadleyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Greg Hadley</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Suggested Homes</a></li>
        <li><a href="#">Search for Homes</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </nav>

	<%= yield %>

</body>
</html>
